Server/.vs/

Server/Diplomski.Presentation/bin
Server/Diplomski.Presentation/obj

Server/Diplomski.BLL/bin
Server/Diplomski.BLL/obj

Server/Diplomski.DAL/bin
Server/Diplomski.DAL/obj

Database/Versions.txt